<f:flashMessages />
<div class="tx_feuser-newsletter-subscription">
    <h3>
        <f:translate
            key="LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:newsletter_unsubscribe" />
    </h3>
    <p>
        <f:translate
            key="LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:newsletter_form_description" />
    </p>

    <!-- Formular zur Abmeldung -->
    <f:form action="unsubscribe" controller="Newsletter" method="post">
        <!--label for="email">
            <f:translate key="LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:email_label" />
        </label-->
        <f:form.textfield name="email" id="email"
            placeholder="{f:translate(key:'LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:email_placeholder')}" />
        <f:form.button type="submit" name="{f:translate(key:'LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:unsubscribe_button')}" class="btn btn-primary">{f:translate(key:'LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:unsubscribe_button')}</f:form.button>
    </f:form>

    <!-- Formular zur Anmeldung -->
    <!--f:form action="subscribe" controller="Newsletter" method="post">
        <label for="email"><f:translate key="LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:email_label" /></label>
        <f:form.textfield name="email" id="email" placeholder="{f:translate(key:'LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:email_placeholder')}" />
        <f:form.submit value="{f:translate(key:'LLL:EXT:feuser_newsletter_subscription/Resources/Private/Language/locallang.xlf:subscribe_button')}" />
    </f:form-->
